MONGODB_URI=mongodb+srv://paraallax_user:Paraallax_2026@cluster0.3tdsqu7.mongodb.net/?appName=Cluster0
JWT_SECRET=change_this_to_a_long_random_secret_string
ADMIN_EMAIL=admin@csi.com
ADMIN_PASSWORD=Admin@CSI2026
TEAM_DEFAULT_PASSWORD=team123
